body {
    margin: 0;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
    font-family: Verdana;
}

.i-notification-container {
    position: fixed;
    z-index: 99999999999;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.i-notification-container-top-left {
    top: 1rem;
    left: 1rem;
}

.i-notification-container-top-right {
    top: 1rem;
    right: 1rem;
}

.i-notification-container-bottom-left {
    bottom: 1rem;
    left: 1rem;
}

.i-notification-container-bottom-right {
    bottom: 1rem;
    right: 1rem;
}

.i-notification {
    margin-bottom: 1rem;
    width: 270px;
    padding: 1rem;
    border-radius: 0;
    background-color: #faf8f8;
    position: relative;
    transition: all .3s;
}

.i-notification-container-top-left .i-notification,
.i-notification-container-bottom-left .i-notification {
    left: -100%;
}

.i-notification-container-top-right .i-notification,
.i-notification-container-bottom-right .i-notification {
    right: -100%;
}

.i-notification-container-top-left .i-notification-show,
.i-notification-container-bottom-left .i-notification-show {
    left: 0;
}

.i-notification-container-top-right .i-notification-show,
.i-notification-container-bottom-right .i-notification-show {
    right: 0;
}

.i-notification-head {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.i-notification-icon {
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-right: .7rem;
}

.i-notification-icon svg {
    width: 20px;
    height: 20px;
}

.i-notification-title {
    margin: 0;
    font-size: 14px;
    width: 80% !important;
}

.i-notification-mes {
    margin: .7rem 0 0;
    font-size: 13px;
    line-height: 21px;
}

.i-notification-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    border: 0;
    outline: 0 !important;
    padding: 0;
    background-color: transparent;
}

.i-notification-success .i-notification-icon {
    color: #4CAF50;
}

.i-notification-error .i-notification-icon {
    color: #F44336;
}

.i-notification-info .i-notification-icon {
    color: #2196F3;
}

.i-notification-warning .i-notification-icon {
    color: #FF9800;
}